* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#timer {
    background-color: #607d8b;
    width: 250px;
    padding: 20px 30px;
    margin: 10px auto;
    text-align: center;
}

#timer a, .stopwatch {
    color: #bbbbbb;
}

#timer a {
    text-decoration: none;
    margin: 0 3px;
}

.stopwatch {
    font-size: 30px;
    padding: 10px 0;
}

.controls {
    font-size: 12px;
    cursor: pointer;
}