* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url(images/image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#timer {
    width: 350px;
    min-width: 200px;
    height: 200px;
    min-height: 200px;
    margin: 220px auto;
    padding: 70px 100px;
    border-radius: 20%;
    text-align: center;
    background-color: #607d8b;
}

#timer a,
.stopwatch {
    color: #fff;
}

#timer a {
    margin: 0 3px;
    text-decoration: none;
}

.stopwatch {
    font-size: 30px;
    padding: 10px 0;
}

.controls {
    font-size: 15px;
    cursor: pointer;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #timer {
        width: 300px;
        min-width: 200px;
        height: 200px;
        margin: 150px auto;
        padding: 70px 0px;
    }
}
